<ion-view cache-view="false" view-title="Meal Details">
  <ion-tabs class="tabs-light tabs-background-assertive tabs-color-light tabs-striped ">
    <ion-tab title="Overview">
      <ion-pane>
        <ion-content>
          <summary-card post="ctrl.post"></summary-card>
          <ingredient-list post="ctrl.post"></ingredient-list>
        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Recipe">
      <ion-pane>
        <ion-content>
          <recipe-list post="ctrl.post" />
        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Discuss ({{ ctrl.comments.length }})">
      <ion-pane>
        <ion-content>
          <comment-list comments="ctrl.comments" />
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
