<ion-view cache-view="false" view-title="Recipe Details">
  <ion-tabs class="tabs-light tabs-background-assertive tabs-color-light tabs-striped ">
    <ion-tab title="Recipe">
      <ion-pane>
        <ion-content class="has-tabs-top">
          <summary-card post="ctrl.post"></summary-card>

          <div class="list card">
            <h3 class="item item-divider item-assertive">Ingredients</h3>

            <div class="ingredient-wrapper" ng-repeat="(name, ingredients) in ctrl.post.ingredients">
              <h3 class="item item-divider" ng-show="name !== 'main'">{{ name }}</h3>
              <div class="item">
                <p ng-repeat="ingredient in ingredients">
                  {{ ingredient.getQuantity() }} <strong>{{ ingredient.name }}</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="list card">
            <div class="item item-divider item-assertive">Preparation</div>

            <div class="item recipe-wrapper" ng-repeat="(name, recipe) in ctrl.post.recipes">
              <h3 ng-show="name !== 'main'">{{ name }}</h3>
              <h3 ng-show="name === 'main'">Main Recipe</h3>
              <p class="recipe-text">{{ recipe }}</p>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab title="Discuss ({{ ctrl.comments.length }})">
      <ion-pane>
        <ion-content class="has-tabs-top">
          <div class="list">
            <div class="card" ng-repeat="comment in ctrl.comments | orderBy:updated_at">
              <div class="item item-avatar">
                <img ng-src="{{ comment.author.image_path }}"/>
                <p>{{ comment.content }}</p>
                <p>{{ comment.author.name }} | {{comment.getRelativeUpdatedAt()}}</p>
              </div>
            </div>

            <div class="card">
              <div class="item">
                <p class="text-center">Join the Discussion</p>
              </div>
              <div class="list list-inset">
                <form ng-submit="ctrl.createComment()">
                  <label class="item item-input">
                    <textarea placeholder="Comments" ng-model="ctrl.newCommentData.content"></textarea>
                  </label>

                  <button class="button button-block button-positive">Submit Comment</button>
                </form>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
