<div class="list">
  <div class="card" ng-repeat="comment in ctrl.comments | orderBy:updated_at">
    <div class="item item-avatar">
      <img ng-src="{{ comment.author.image_path }}"/>
      <p class="wrap">{{ comment.content }}</p>
      <p>{{ comment.author.name }} | {{comment.getRelativeUpdatedAt()}}</p>
    </div>
  </div>

  <div class="card">
    <div class="item">
      <p class="text-center">Join the Discussion</p>
    </div>
    <div class="list list-inset">
      <form ng-submit="ctrl.createComment()">
        <label class="item item-input">
          <textarea placeholder="Comments" ng-model="ctrl.newCommentData.content"></textarea>
        </label>

        <button class="button button-block button-positive">Submit Comment</button>
      </form>
    </div>
  </div>
</div>
